@import "tailwindcss";

:root {
  /* Democratic Party Colours */
  --blue-safe: #3333FF;
  --blue-likely: #6666FF;
  --blue-lean: #9999FF;
  --blue-tilt: #CCCCFF;
  --blue-toss: #E6E6FF;

  /* Republican Party Colours */
  --red-safe: #E81B23;
  --red-likely: #F05555;
  --red-lean: #F58C8C;
  --red-tile: #F7C4C4;
  --red-toss: #FBE6E6;

  /* Other */
  --other: #7B5FB2;
  --undecided: #B9B9C0;
  --lock: #111827;
}

.text-shadow {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
}